body{
  background-color: rgb(42, 43, 44);
  margin: 0;
  padding: 5%;
}

/* #background {
    background-image:url('assets/grid2.jpg');
    position: cover;
    margin-top: 0px;
    min-height: auto;
    background-position: fixed;
    background-size: 100%;
} */

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    float: center;
    text-align: center;
    font-size: 100pt;
}

h2 {
    color:rgb(182, 65, 65);
    margin-top: -5pt;
    margin-bottom: -30pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    float: center;
    text-align: center;
    font-style: italic;
    font-style: bold;
    font-size: 45pt;
}

h3 {
    color: rgb(154, 135, 135);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    float: center;
    text-align: center;
    font-size: 18pt;
}


div {
  text-align: center;
}

input {
    color: rgb(129, 41, 41);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top:-20%;
    padding-top: .5%;
    margin-right: 2%;
    height: 5%;
    width: 4%;
    margin-bottom:2%;
    font-size: 24pt;
}

label {
    color: rgb(196, 183, 183);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-style: bold;
    padding-right: 1%;
    font-size: 18pt;

}

.image {
    padding-top: 5%;
    border-style: white, solid, 50px, 10px, 10px, 10px;
    border-radius: 4px;
    margin-top: -30px;
    margin-left: 15px;
    display: inline;

}
button {
    color: white;
    background-color:rgb(129, 41, 41);
    border: 5px; 
    position: relative;
    float: center;
    margin-left: 0%;
    border-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bolder;
    font-size: 200%;
    height: 100px;
    width:100px;
    border-radius: 100px;
}

#getImageClick {
    border-width: 10px;
    color: white;
}